.scroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15%;
    overflow-x: auto;
    padding: 1rem 0 2rem;
}
.cardBody{
    width: 200px;
    :global(.ant-card-body){
        padding: 0;
    }
}
.home{
    padding: 24px;
    background-color: #D3D3D3;
}
.category{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 500;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > img {
        height: 50px; 
    }
}


